name: x
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Display dotnet version
        run: dotnet --version
      - name: Display arch
        run: uname -m
      - name: Cache NDK
        id: cache-ndk
        uses: actions/cache@v4
        with:
            # 缓存保存的路径
            path: r29
            key: r29
      - name: Download Arm64 NDK
        if: steps.cache-ndk.outputs.cache-hit != 'true'
        run: |
          curl -L https://github.com/SnowNF/ndk-aarch64-linux/releases/download/0.0.2/android-ndk-r29-linux-aarch64.tar.gz -o ndk.tar.gz
          # 解压目录为 r29/
          tar -xzf ndk.tar.gz
      - name: Cached Arm64 NDK
        run: |
          ls r29/
          echo "ANDROID_NDK_HOME=$(pwd)/r29" >> $GITHUB_ENV
          echo "$(pwd)/r29/toolchains/llvm/prebuilt/linux-x86_64/bin" >> $GITHUB_PATH
      - name: Display PATH
        run: echo $PATH
      - name: Display ANDROID_NDK_HOME
        run: echo $ANDROID_NDK_HOME
      - name: Display clang
        run: clang --version
      - name: Display clang++
        run: clang++ --version
      - name: Display clang++ c++
        run: |
          clang++ --target=aarch64-linux-android24 --version
          clang++ -xc++ -E -v /dev/null
          ls /usr/include/c++/
      - name: Display clang target
        run: |
          clang --version
          ls $CLANG_BIN
          clang --target=aarch64-linux-android24 helloworld.c -fsyntax-only
          dotnet new console -o HelloBionic --aot
          cd HelloBionic
          dotnet publish -r linux-bionic-arm64 -p:DisableUnsupportedError=true -p:PublishAotUsingRuntimePack=true
#      - name: build clang android target
#        run: clang helloworld.c -fsyntax-only
#      - name: build clang android target
#        run: clang helloworld.c --target=aarch64-linux-android24 -rtlib=compiler-rt -unwindlib=none --sysroot=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/sysroot/
#      - name: build clang++ android target
#        run: clang++ helloworld.cpp --target=aarch64-linux-android24 -fsyntax-only
        

