name: x
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Display dotnet version
        run: dotnet --version
      - name: Display arch
        run: uname -m
      - name: Download Arm64 NDK
        run: |
          wget https://dl.google.com/android/repository/android-ndk-r27d-linux.zip
          unzip -q android-ndk-r27d-linux.zip
          ls
          echo "$(pwd)/android-ndk-r27d/toolchains/llvm/prebuilt/linux-x86_64/bin" >> $GITHUB_PATH
          echo "ANDROID_NDK_HOME=$(pwd)/android-ndk-r27d" >> $GITHUB_ENV
      - name: Display PATH
        run: echo $PATH
      - name: Display clang
        run: clang --version
      - name: Display ANDROID_NDK_HOME
        run: echo $ANDROID_NDK_HOME
