name: simple-sample
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Display dotnet version
        run: dotnet --version
      - name: Display arch
        run: uname -m && arch
