name: x
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Display dotnet version
        run: dotnet --version
      - name: Display arch
        run: uname -m
      - name: Cache NDK
        id: cache-ndk
        uses: actions/cache@v4
        with:
            # 缓存保存的路径
            path: android-ndk-r27d
            key: android-ndk-r27d
      - name: Download Arm64 NDK
        if: steps.cache-ndk.outputs.cache-hit != 'true'
        run: |
          wget https://dl.google.com/android/repository/android-ndk-r27d-linux.zip
          unzip -q android-ndk-r27d-linux.zip
          ls
      - name: Cached Arm64 NDK
        run: |
          ls android-ndk-r27d
          echo "ANDROID_NDK_HOME=$(pwd)/android-ndk-r27d" >> $GITHUB_ENV
      - name: Display PATH
        run: echo $PATH
      - name: Display ANDROID_NDK_HOME
        run: echo $ANDROID_NDK_HOME
      - name: Display clang
        run: clang --version
      - name: Display clang++
        run: clang++ --version -E
      - name: Display clang++ c++
        run: |
          clang++ --target=aarch64-linux-android24 --version -E
          ls /usr/include/c++/
      - name: Display clang target
        run: |
          clang --target=aarch64-linux-android24 --version
      - name: build clang android target
        run: clang helloworld.c --target=aarch64-linux-android24 -fsyntax-only
#      - name: build clang++ android target
#        run: clang++ helloworld.cpp --target=aarch64-linux-android24 -fsyntax-only
        

